/*COLORES
GRIS: #3e3f41;
AMARILLO: #f6a800 ;
*/

*{
	margin: 0 auto;
	padding: 0 auto;
}

/*primer index*/
.first{
	background-color: #3e3f41;
}
.logo{
	display: block;
	margin: 20px;
	width: 50%;
}
.p-boton{
	background-color: #f6a800;
    height: 55px;
    border: none;
    width: 100%;
    color: #3e3f41;
}
.trans{
	color: #f6a800;
	font-size: 20px;
	text-align: center;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
