/*COLORES
GRIS OSCURO: #3e3f41;
GRIS CLARO:#dddee0;
AMARILLO: #f6a800 ;
*/

*{
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Open Sans', sans-serif;
}
/* estilo primer index*/
.first, .second, .third{
	background-color: #3e3f41;
}
.logo{
	display: block;
	margin-top: 100px;
	width: 50%;
}
.trans{
	color: #f6a800;
	font-weight: 800;
	font-size: 30px;
	text-align: center;
	margin: 10px 0 70px 0;
}
.p-boton{
	background-color: #f6a800;
    height: 55px;
    border: none;
    width: 100%;
    color: #3e3f41;
}

.inp1{
	width: 100%;
	height: 55px;
    border: none;
}
.a-uno{
	color: white;
}
.a-dos{
	color: white;

}
strong{
	color: #f6a800;
}


/*estilo segundo index*/
.nav2{
	height: 60px;
	background-color: #3e3f41;
}
.index2 {
	text-align: center;
	background-color: #dddee0;
}
.trans2{
	color: white;
}
.boton-in2{
	background-color: #f6a800;
	margin-top: 15px;
	width: 100%;
	height: 55px;
    border: none;
}